<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE-edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Inicio</title>
			
			<link href="../css/bootstrap.min.css" rel="stylesheet">
		</head>
		<body>
			<div class="container">
				<div class='jumbotron' style="background: rgb(0, 0, 77)">
					<div class='row'>
						<div class='col-xs-7'>
							<img src="../Resources/uno.png" alt="Logo" class="img-thumbnail" height="200px" width="1000px"/>
						</div>
						<div class='col-xs-5'>
							<br><br><br>
							<nav class="navbar navbar-default">
								<ul class="nav nav-pills nav-stacked text-center">
									<li style="color: grey" class="text-center"><a href='#game'>¿Qué es CCGame?</a></li>
									<li style="color: gray" class="text-center"><a href='#inst'>Instrucciones</a></li>
									<li style="color: gray"><a href='juegoinicio.html'>Jugar</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				</br></br></br></br></br></br></br></br>
				<div class='row'>
					<div class='col-xs-12'>
						<h1 class='text-center' id='game'>¿Qué es CCGame?</h1>
						<div class="panel panel-info">
							<div class="panel-heading text-center">
								CCGame
							</div>
							<div class="panel-body text-center">
								CCGame proviene C [Coyote] C [Contesta]. 
							</div>
						</div>
					</div>
				</div>
				</br></br></br></br></br></br></br></br>
				<div class='row'>
					<div class='col-xs-12'>
						<h1 class='text-center' id='inst'>¿Cómo jugar?</h1>
						<div class="panel panel-info">
							<div class="panel-heading text-center">
								Instrucciones
							</div>
							<div class="panel-body text-center">
								En este juego los alumnos compiten en obtener los mejores resultados.
								Para ello, deben rellenar una barra de progreso contestando correctamente preguntas de 
								selección múltiple sobre las materias correspondientes a su grado las cuales son hechas
								por los profesores de los distintos colegios de la ENP.
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="js/jquery.js"></script>
			<script src="js/bootstrap.min.js"></script>
		</body>
	</html>